html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
		Helvetica Neue, sans-serif;
}

:root {
	--primary: #570df8;
	--primary-content: #ffffff;
	--secondary: #f000b8;
	--secondary-content: #1f2937;
	--base-1: #ffffff;
	--base-2: #d1d5db;
	--base-content: #1f2937;
	--success: #009485;
	--warning: #ff9900;
	--border-radius: 0.25rem;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

p {
	margin: 0;
}

.container {
	max-width: 85%;
	width: 100%;
	margin: 0 auto;
	background: var(--base-1);
	border-radius: var(--border-radius);
	padding: 2.5rem 0;
}

@media (min-width: 600px) {
	.container {
		padding: 2.5rem 1.875rem;
	}
}
@media (min-width: 1440px) {
	.container {
		max-width: 1300px;
	}
}

.btn {
	cursor: pointer;
	text-transform: uppercase;
	min-width: 10rem;
	height: 3rem;
	padding: 0.5rem 1rem;
	font-size: 1.15rem;
	border-radius: var(--border-radius);
	border-color: var(--primary);
	background: var(--primary);
	color: var(--primary-content);
}
.btn-icon {
	cursor: pointer;
	padding: 0.2rem;
	height: 2rem;
	width: 2rem;
	border-radius: 50%;
	border-color: var(--base-content);
	color: var(--primary-content);
}
