.title {
	text-transform: uppercase;
	text-align: center;
	margin-top: 0;
	line-height: 1.15;
	font-size: 4rem;
}

.subtitle {
	text-align: center;
	margin-bottom: 4rem;
	line-height: 1.5;
	font-size: 1.5rem;
}

.ctaContainer {
	text-align: right;
}
