

.gridContainer {
	display: grid;
	grid-template-columns: 80px 1fr;
	gap: 1rem;
	position: relative;
}
.ctaContainer {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 1rem;
}

@media (min-width: 600px) {
	.ctaContainer {
		margin-top: -2rem;
	}
}

.cta {
	margin: 0 0.2rem;
}

.name {
	margin-bottom: 1rem;
	font-size: 1.15rem;
}
.price {
	font-size: 1.15rem;
	font-weight: 500;
	margin-bottom: 0.2rem;
}
.discount {
	background-color: var(--secondary);
	color: var(--secondary-content);
	border-radius: var(--border-radius);
	font-weight: 500;
	width: max-content;
	padding: 0.4rem;
	margin: 0.4rem 0;
}
.initialPrice {
	font-size: 1rem;
	font-weight: 500;
	text-decoration: line-through;
}
.totalPrice {
	font-size: 1.15rem;
	font-weight: 500;
	margin-bottom: 0.2rem;
}
.quantity {
	font-size: 1.15rem;
	margin-bottom: 1rem;
}
